* {
  box-sizing: border-box;
}

:root {
  --bg: #e5f9ff;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg);
  overflow: hidden;
}

.jar {
  height: 400px;
}
