:root {
  --bg: #e5f9ff;
  --beanSize: 20px;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: #555;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  margin: 0;
  overflow: hidden;
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  place-items: center;
}

.container {
  position: relative;
  width: 100%;
}

.label,
.count {
  position: relative;
  text-align: center;
  top: -7rem;
}

.bean {
  background: radial-gradient(
    circle at 2% 2%,
    #e6988f,
    #a05954,
    #833c35,
    #52211d,
    #210c0b,
    #000000
  );
  border-radius: 50%;
  position: absolute;
}
